<div
  *ngIf="!isSent"
  [ngClass]="{ 'password-recovery': !appService.isOnImpairedMode, 'password-recovery_impaired': appService.isOnImpairedMode }"
>
  <div class="title mrg-btm size--20">{{ 'password_recovery.passwordRecovery' | translate }}</div>
  <div class="subtitle mrg-btm size--56">{{ 'password_recovery.hint' | translate }}</div>

  <div class="form">
    <div class="mrg-btm size--30">
      <div class="mrg-btm size--10">
        <app-input (newValue)="email = $event" [value]="email" (keyup.enter)="reset()" placeholder="{{ 'password_recovery.enterLogin' | translate }}" label="{{ 'password_recovery.login' | translate }}"></app-input>
      </div>
<!--      <div class="form__invalid text-center">Пользователя с таким логином не существует</div>-->
    </div>
    <div class="d-flex justify-content-center mrg-btm size--30">
      <app-button (click)="reset()">{{ 'password_recovery.restorePassword' | translate }}</app-button>
    </div>
    <div class="d-flex justify-content-center link" (click)="goBack()">{{ 'password_recovery.cancel' | translate }}</div>
  </div>
</div>

<div
  *ngIf="isSent"
  [ngClass]="{ 'confirmation': !appService.isOnImpairedMode, 'confirmation_impaired': appService.isOnImpairedMode }"
>
  <div class="custom-icon email-icon mrg-btm size--77" [ngClass]="{ 'custom-icon_impaired': appService.isOnImpairedMode }"></div>
  <div class="subtitle mrg-btm size--56">{{ 'password_recovery.response' | translate }}</div>
</div>
