.time-is-up {
  width: 500px;
  height: 340px;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
  }
  .link {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #00409E;
  }
}

.time-is-up_impaired {
  width: 500px;
  height: 340px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
  }
  .link {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
  }
}
