<mat-dialog-actions>
  <div
    [ngClass]="{ 'time-is-up': !appService.isOnImpairedMode, 'time-is-up_impaired': appService.isOnImpairedMode }"
    class="d-flex flex-column align-items-center justify-content-center text-center"
  >
    <div class="title mrg-btm size--20">{{ 'time_is_up.message' | translate }}</div>
    <div class="mrg-btm size--50">{{ 'time_is_up.subMessage' | translate }}</div>
    <div class="mrg-btm size--34">
      <app-button mat-dialog-close mat-dialog-close="select-date">{{ 'time_is_up.selectCourseDate' | translate }}</app-button>
    </div>
    <div class="link" mat-dialog-close mat-dialog-close="close">{{ 'time_is_up.close' | translate }}</div>
  </div>
</mat-dialog-actions>
