.certificates {
  .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #333333;
  }

  i {
    width: 250px;
    height: 313px;
  }
}

.certificates_impaired {
  .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
  }

  i {
    width: 250px;
    height: 313px;
  }
}
