.test-results {
  min-height: 554px;
  width: 100%;
  border-radius: 16px;
  background-color: #f4f3f3;
  overflow: hidden;
  padding-top: 33px;
  padding-bottom: 45px;
  .test-results__header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
  }
  .question-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-x: auto;
    -ms-overflow-y: hidden;
    white-space: nowrap;
    width: 768px;
    border-radius: 15px;
    background-color: #ffffff;
    height: 60px;
    .question-tabs__item {
      display: inline-block;
      cursor: pointer;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 8px;
      font-size: 17px;
      line-height: 20px;
      color: #219653;
      &.question-tabs__item_incorrect {
        color: #EB5757;
      }
    }
  }

  .question {
    padding-right: 20px;
    padding-left: 20px;
    color: #333333;
    .question__number {
      font-size: 12px;
      line-height: 14px;
    }
    .question__itself {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
    }
  }


  .text {
    font-size: 15px;
    line-height: 18px;
    color: #333333;
    &.text_main {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
    }
    &.text_big {
      font-size: 17px;
      line-height: 150%;
    }
  }
  .link {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #00409E;
    &.link_light-underlined {
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
      text-decoration-line: underline;
    }
  }
  .link:hover {
    cursor: pointer;
  }

  .statistics {
    height: 140px;
    width: 712px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #717784;

    .statistics__title, .statistics__value {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
      width: 237.3333px;
    }
    .statistics__title {
      text-align: center;
      background: rgba(0, 64, 158, 0.6);
      border-right: 1px solid #c6c8ce;
      font-size: 17px;
      line-height: 150%;
      color: #FFFFFF;
    }

    .statistics__value {
      background: #ffffff;
      border-right: 1px solid rgba(0, 64, 158, 0.6);
      font-weight: 500;
      font-size: 26px;
      line-height: 150%;
      color: #333333;
      &.statistics__value_blue {
        color: #00409E;
      }
      &.statistics__value_green {
        color: #219653;
      }
      &.statistics__value_red {
        color: #EB5757;
      }
    }

    .statistics__column:last-child {
      .statistics__title {
        border-right: none;
      }
    }

    .statistics__column:last-child {
      .statistics__value {
        border-right: none;
      }
    }
  }
}

.test-results_impaired {
  min-height: 554px;
  width: 100%;
  border-radius: 16px;
  background-color: #FFFFFF;
  overflow: hidden;
  padding-top: 33px;
  padding-bottom: 45px;
  border: 1px solid #000000;
  .test-results__header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }
  .question-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-x: auto;
    -ms-overflow-y: hidden;
    white-space: nowrap;
    width: 768px;
    border-radius: 15px;
    background-color: #ffffff;
    height: 60px;
    .question-tabs__item {
      display: inline-block;
      cursor: pointer;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 8px;
      font-size: 17px;
      line-height: 20px;
      color: #000000;
      &.question-tabs__item_incorrect {
        color: #797979;
      }
    }
  }

  .question {
    padding-right: 20px;
    padding-left: 20px;
    color: #000000;
    .question__number {
      font-size: 12px;
      line-height: 14px;
    }
    .question__itself {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
    }
  }


  .text {
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    &.text_main {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
    }
    &.text_big {
      font-size: 17px;
      line-height: 150%;
    }
  }
  .link {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    &.link_light-underlined {
      font-weight: normal;
      font-size: 17px;
      line-height: 20px;
      text-decoration-line: underline;
    }
  }
  .link:hover {
    cursor: pointer;
  }

  .statistics {
    height: 140px;
    width: 712px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #000000;

    .statistics__title, .statistics__value {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
      width: 237.3333px;
    }
    .statistics__title {
      text-align: center;
      background: rgba(0, 64, 158, 0.6);
      border-right: 1px solid #000000;
      font-size: 17px;
      line-height: 150%;
      color: #FFFFFF;
    }

    .statistics__value {
      background: #ffffff;
      border-right: 1px solid rgba(0, 64, 158, 0.6);
      font-weight: 500;
      font-size: 26px;
      line-height: 150%;
      color: #000000;
      &.statistics__value_blue {
        color: #000000;
      }
      &.statistics__value_green {
        color: #000000;
      }
      &.statistics__value_red {
        color: #000000;
      }
    }

    .statistics__column:last-child {
      .statistics__title {
        border-right: none;
      }
    }

    .statistics__column:last-child {
      .statistics__value {
        border-right: none;
      }
    }
  }
}
