.authorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form {
    width: 400px;
  }
  .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #333333;
  }
  .subtitle {
    font-size: 20px;
    line-height: 23px;
    color: #333333;
  }
  .question {
    font-size: 15px;
    line-height: 24px;
    color: #3C4858;
  }

  .link {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #00409E;
  }

  .invalid {
    font-size: 12px;
    line-height: 14px;
    color: #EB5757;
  }
}

.authorization_impaired {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form {
    width: 400px;
  }
  .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
  }
  .subtitle {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }
  .question {
    font-size: 15px;
    line-height: 24px;
    color: #000000;
  }

  .link {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
  }

  .invalid {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
  }
}

