.page-title {
  background: #E5E5E5;
  padding-top: 20px;
  padding-bottom: 30px;
  .title {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #00409E;
  }
}

.page-title_impaired {
  background: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #000000;
  .title {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
  }
}
