<div
  *ngIf="user"
  [ngClass]="{ 'profile-info': !appService.isOnImpairedMode, 'profile-info_impaired': appService.isOnImpairedMode }"
>
  <div *ngIf="!editingMode">
    <div class="d-flex mrg-btm size--100">
      <div>
        <div class="profile-info__avatar custom-icon default-avatar-icon mrg-rgt size--30" [ngClass]="{ 'custom-icon_impaired': appService.isOnImpairedMode }"></div>
      </div>
      <div class="d-flex flex-column justify-content-center flex-fill">
        <div class="d-flex justify-content-between align-items-center mrg-btm size--10">
          <div class="d-flex align-items-center">
            <div class="profile-info__full-name mrg-rgt size--10">{{ user.full_name }},</div>
            <div class="profile-info__age" *ngIf="age">{{ age }} {{ 'profile_info.age' | translate }}</div>
          </div>

          <div class="profile-info__status">
            <div>{{ 'profile_info.status' | translate }}:
              <span class="profile-info__status-value" [ngClass]="{ 'profile-info__status-value_blue': user.status === 2 }">
                {{ 'profile_info.' + statuses[user.status - 1] | translate }}
              </span>
            </div>
          </div>
        </div>
        <div class="profile-info__phone mrg-btm size--20">{{ user.phone }}</div>
        <div class="d-flex align-items-center profile-info__edit" (click)="editingMode = true">
          <div class="custom-icon edit-icon mrg-rgt size--6" [ngClass]="{ 'custom-icon_impaired': appService.isOnImpairedMode }"></div>
          <div class="profile-info__edit-text" (click)="editingMode = true">{{ 'profile_info.edit' | translate }}</div>
        </div>
      </div>
    </div>

    <div class="statistics" *ngIf="user.status === 2 && statistics">
      <div class="statistics__column">
        <div class="statistics__title">{{ 'profile_info.coursesCompleted' | translate }}</div>
        <div class="statistics__value">{{ statistics.completed }}</div>
      </div>
      <div class="statistics__column">
        <div class="statistics__title">{{ 'profile_info.coursesInProgress' | translate }}</div>
        <div class="statistics__value">{{ statistics.current }}</div>
      </div>
      <div class="statistics__column">
        <div class="statistics__title">{{ 'profile_info.certificates' | translate }}</div>
        <div class="statistics__value">{{ statistics.certificates }}</div>
      </div>
    </div>

    <div class="profile-info__rejection" *ngIf="user.status === 3">
<!--      <div class="mrg-btm size&#45;&#45;50 profile-info__rejection-reason">Здесь будет причина отклонения регистрации пользователя</div>-->
      <div class="mrg-btm size--64">{{ 'profile_info.userDataEditingRequired' | translate }}</div>
      <app-button (click)="navigate('/registration')">{{ 'profile_info.goTo' | translate }}</app-button>
    </div>
  </div>

  <div *ngIf="editingMode">
    <app-editing (finished)="finishEditing()"></app-editing>
  </div>

  <app-dialog *ngIf="showDialog" [alert]="'saved'" (closeDialog)="getResult($event)"></app-dialog>
</div>
