.image-uploader {
  .label {
    font-size: 17px;
    color: #717784;
    .label__required-mark {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #00409E;
    }
  }

  .hint {
    font-size: 12px;
    line-height: 24px;
    color: #717784;
  }

  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .file {
    width: 230px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    &.file_uploaded {
      background: #333333;
      opacity: 0.4
    }
  }
}

.image-uploader_impaired {
  .label {
    font-size: 17px;
    color: #000000;
    .label__required-mark {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #000000;
    }
  }

  .hint {
    font-size: 12px;
    line-height: 24px;
    color: #000000;
  }

  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .file {
    width: 230px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    &.file_uploaded {
      background: #797979;
      opacity: 0.4
    }
  }
}
