.must-be-answered {
  width: 500px;
  height: 340px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}

.must-be-answered_impaired {
  width: 500px;
  height: 340px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
