.choose-course {
  width: 500px;
  height: 260px;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: #333333;
}

.choose-course_impaired {
  width: 500px;
  height: 260px;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}
