<mat-dialog-actions>
  <div
    [ngClass]="{ 'fill-in-required-fields': !appService.isOnImpairedMode, 'fill-in-required-fields_impaired': appService.isOnImpairedMode }"
    class="d-flex flex-column align-items-center justify-content-center text-center"
  >
    <div class="mrg-btm size--50">{{ 'fill_in_required_fields.message' | translate }}</div>
    <div class="mrg-btm size--34">
      <app-button mat-dialog-close mat-dialog-close="ok" height="56px" width="120px">{{ 'fill_in_required_fields.ok' | translate }}</app-button>
    </div>
  </div>
</mat-dialog-actions>
