.library {
  .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #333333;
  }

  .subtitle {
    font-size: 20px;
    line-height: 23px;
    color: #4F4F4F;
  }

  i {
    width: 250px;
    height: 220px;
  }
}


.library_impaired {
  .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
  }

  .subtitle {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  i {
    width: 250px;
    height: 220px;
  }
}
