.pre-test-required {
  width: 500px;
  height: 340px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  .link {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #00409E;
  }
}


.pre-test-required_impaired {
  width: 500px;
  height: 340px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  .link {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
  }
}
