<mat-dialog-actions>
  <div
    [ngClass]="{ 'pre-test-required': !appService.isOnImpairedMode, 'pre-test-required_impaired': appService.isOnImpairedMode }"
    class="d-flex flex-column align-items-center justify-content-center text-center"
  >
    <div class="mrg-btm size--50">
      {{ 'pre-test-required.message' | translate }}
    </div>
    <div class="mrg-btm size--34">
      <app-button mat-dialog-close mat-dialog-close="start-test">{{ 'pre-test-required.startTest' | translate }}</app-button>
    </div>
    <div class="link">{{ 'pre-test-required.passLater' | translate }}</div>
  </div>
</mat-dialog-actions>
